.add-task {
  margin-top: 20px;
}
.add-task__plus,
.add-project__plus {
  color: #dd4b39;
  font-size: 18px;
}
.add-task__text,
.add-project__text {
  display: inline-block;
  color: #545454;
  font-size: 14px;
  margin-left: 15px;
}
